<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@task) do |form| %>
  <div>
    <%= form.label :title,'名稱' %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :category,'分類' %>
    <%= form.text_field :category %>
  </div>

  <div>
    <%= form.label :description,'描述' %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :priority,'優先' %>
    <%= form.text_field :priority %>
  </div>
  <div>
    <%= form.label :status,'狀態' %>
    <%= form.text_field :status %>
  </div>
  <div>
    <%= form.label :start_at,'開始' %>
    <%= form.text_field :start_at %>
  </div>
  <div>
    <%= form.label :end_at,'結束' %>
    <%= form.text_field :end_at %>
  </div>
  
  <%= form.submit "確認儲存"%>

<% end %>