<h1><%= @task.title %></h1>

<ul>
  <li><%= t('category') %> <%= t("#{@task.category}") %></li> 
  <li><%= t('priority') %> <%= t("#{@task.priority}") %></li>
  <li><%= t('status') %> <%= t("#{@task.status}") %></li> 
  <li><%= t('period') %> <%= @task.start_at %><%= @task.end_at %></li>
  <li><%= t('description') %> <%= @task.title %></li>
</ul>

<%= link_to t('back'), root_path, class: 'btn btn-primary'%>
